.banner {
	aspect-ratio: 5 / 2;
	background-size: cover;
	border-radius: 1em;
	margin-bottom: 3em;
	position: relative;
	background-image: url("/img/pie.svg"),
		radial-gradient(
			circle at 25% 75%,
			#ff9d0054 0%,
			#ff9d0017 120%
		);
	background-size: 35%, cover;
	background-repeat: no-repeat;
	background-position: calc(100% - 3em), 100%;
	box-shadow: 0 1px 50px 0 rgba(65, 34, 0, 0.05);
	display: flex;
	align-items: center;
	padding-left: 3em;
}
	.banner-hero {
		position: absolute;
		font-size: 2em;
	}	
		.banner-title {
			font-size: 1.5em;
			margin-bottom: 0;
		}
		.banner-subtitle {
			font-size: 89%;
			font-weight: 500;
			margin-bottom: -0.6rem;
		}
		.banner-caption {
			font-size: 43%;
		}

@media screen and (max-width: 1100px) {
    .banner {
        border-radius: 0;
        background-size: 30%, cover;
        background-position: calc(100% - 1em), 100%;
        padding-left: 1em;
        padding-right: 1em;
    }
    .banner-hero {
        font-size: 6.5vw;
    }
}

@media (prefers-color-scheme: dark) {
	.banner {
		background-image: url("/img/pie.svg"), 
			radial-gradient(
				circle at 25% 75%,
				#ff9d0054 0%, 
				#ff9d0033 120%
			);
	}
}