<nav>
    <menu class = "container">

		<% const links = [
			{ href: '/', text: 'Главная' },
			{ href: '/fuck', text: 'FAQ' },
			{ href: '/rules', text: 'Правила' }
		]; %>
	  
		<% links.forEach(link => { %>
			<a 
				href="<%= link.href %>" 
				class="
					menu-link 
					<%= 
						(req.baseUrl === link.href || (req.baseUrl === '' && link.href === '/')) ? 'active' : '' 
					%>"
				>
			<span><%= link.text %></span>
			</a>
		<% }); %>

        <div class = "connect">
            Подключиться — <strong class = "ip">cmcraft.su</strong>
        </div>

        <div class = "online">
            <div class = "status status-up"></div>
            18/200 онлайн
            <small 
                class = "online-record"
                title = "Установлен 26 июня 2024"
            >
                Рекорд — 168
            </small>
        </div>

    </menu>
</nav>