<nav>
    <menu class = "container">

		<% const links = [
			{ href: '/', text: 'Главная' },
			{ href: '/fuck', text: 'FAQ' },
			{ href: '/rules', text: 'Правила' }
		]; %>
	  
		<% links.forEach(link => { %>
			<a 
				href="<%= link.href %>" 
				class="
					menu-link 
					<%= 
						(req.baseUrl === link.href || (req.baseUrl === '' && link.href === '/')) ? 'active' : '' 
					%>"
				>
			<span><%= link.text %></span>
			</a>
		<% }); %>

        <div class = "connect">
            Подключиться — <strong class = "ip">cmcraft.su</strong>
        </div>

        <div class = "online">
            <div class = "status status-up"></div>
            18/200 онлайн
            <small 
                class = "online-record"
                title = "Установлен 26 июня 2024"
            >
                Рекорд — 168
            </small>
        </div>

    </menu>
</nav>

<style>
nav {
	margin-bottom: 3em;
}
menu {
	display: flex;
	align-items: flex-end;
	gap: 2em;
	border-bottom: 2px solid #e2e2e2;
	padding-bottom: 1em;
	position: relative;
}
	.menu-link {
		text-decoration: none;
		font-weight: 550;
		color: #0060a0;
		padding-top: 1em;
		user-select: none;
		font-family: 'Golos Text';
	}
		.menu-link > span {
			text-decoration: underline;
			text-decoration-thickness: 1px;
			text-underline-offset: .175em;
			text-decoration-color: color-mix(in srgb, currentColor, transparent 80%);
			text-decoration-skip: none;
			text-decoration-skip-ink: none;
		}
		.menu-link:hover > span {
			color: #ec7011;
			text-decoration-color: color-mix(in srgb, currentColor, transparent 50%);
		}
			.menu-link.active{
				color: black;
				pointer-events: none;
			}
			.menu-link.active > span {
				text-decoration: none;
			}

	menu .connect {
		margin-left: auto;
	}
		menu .connect .ip {
			font-family: 'Golos Text';
			font-weight: 720;
			font-size: 105%;
			background-color: #ff9d0077;
			padding: 0 5px;
		}
	menu .online {
		position: absolute;
		right: 1em;
		bottom: -2.45em;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-end;
		gap: 0 0.3em;
		line-height: 1.1;
	}
		menu .online-record {
			opacity: 0.5;
			flex-basis: 100%;
			font-size: 75%;
			text-align: right;
		}

	@media screen and (max-width: 800px) {
		nav {
			margin-bottom: 2.5em;
		}
		menu {
			justify-content: space-around;
		}
			menu .connect {
				position: fixed;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 5;
				background-color: white;
				padding: 0.2em 1em;
				text-align: center;
				border-top: 1px solid #f7f7f7;
				box-shadow: 0 0 10px 0 rgba(65, 34, 0, 0.07);
				font-size: 70%;
			}
				menu .connect .ip {
					background: none;
					padding: 0;
					font-weight: 800;
				}
			menu .online {
				font-size: 75%;
			}
	}

.status {
	display: inline-block;
	margin-top: 2px;
	width: 0.33em;
	height: 0.33em;
	border-radius: 50%;
}
	.status-up {
		background-color: #00ca6f;
	}
	.status-down {
		background-color: #ff0000;
	}
	.status-unknown {
		background-color: #746e6e;
	}
</style>